[Unit]
Description=Docker Application Container Engine
Documentation=https://docs.docker.com
After=network-online.target firewalld.service
Wants=network-online.target

[Service]
Type=notify
# 注意：需和 flanneld.service 中 mk-docker-opts.sh 生成的文件路径一致。
EnvironmentFile=/run/flannel/docker
### 其他 Docker 启动参数可以在 /etc/sysconfig/docker 中配置
# EnvironmentFile=-/etc/sysconfig/docker
### OPTIONS 在 /etc/sysconfig/docker 定义
# ExecStart=/usr/bin/dockerd $DOCKER_NETWORK_OPTIONS $OPTIONS
ExecStart=/usr/bin/dockerd $DOCKER_NETWORK_OPTIONS
ExecReload=/bin/kill -s HUP $MAINPID
# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
# Uncomment TasksMax if your systemd version supports it.
# Only systemd 226 and above support this version.
#TasksMax=infinity
TimeoutStartSec=0
# set delegate yes so that systemd does not reset the cgroups of docker containers
Delegate=yes
# kill only the docker process, not all processes in the cgroup
KillMode=process
# restart the docker process if it exits prematurely
Restart=on-failure
StartLimitBurst=3
StartLimitInterval=60s

[Install]
WantedBy=multi-user.target
